<section class="well">
<ul class="nav">
    <li class="nav-header">About</li>
</ul>
<p><strong>Adam DeConinck builds HPC clusters.</strong> He also 
writes software, plays with consumer electrons, 
reads a ridiculous amount of science fiction, plays board games,
fences, plays the trumpet, and occasionally writes on this blog about 
any of the above.
He currently works at NVIDIA and lives in 
California with his amazing wife <a href="http://http://about.me/lfeather">Leigh</a>
and their two cats.
</p>

<p>
In case it isn't obvious, opinions and views expressed here are his alone, and 
do not reflect those of any other person or organization.
(He might not even agree with them himself in a few days: the title
<em>is</em> "Thinking Out Loud"...)
</p>

<p><strong>Email: <a href="mailto:ajdecon@ajdecon.org">ajdecon@ajdecon.org</a></strong></p>
<p><strong>Twitter: <a href="http://www.twitter.com/ajdecon">@ajdecon</a></strong></p>
</section>
