<section class="well">
<ul class="nav">
    <li class="nav-header">About</li>
</ul>
<p><strong>Adam DeConinck</strong> is yet another physicist who's
found his way into computing, and currently works in 
high-performance cluster computing
and scientific computing. He also 
writes software, 
reads a lot of science fiction, plays board games,
fences, plays the trumpet, and occasionally writes on this blog.
He lives in 
California with his amazing wife <a href="http://http://about.me/lfeather">Leigh</a>
and their two cats.
</p>

<p>
Opinions and views expressed here are his alone, and 
do not reflect those of any other person or organization.
(He might not even agree with them himself in a few days: the title
<em>is</em> "Thinking Out Loud"...)
</p>

<p><strong>Email: <a href="mailto:ajdecon@ajdecon.org">ajdecon@ajdecon.org</a></strong></p>
<p><strong>Twitter: <a href="http://www.twitter.com/ajdecon">@ajdecon</a></strong></p>
</section>
